{% extends "base.html" %}
{% load static %}
{% load tags_and_filters %}
{% load thumbnail %}

{% block title %}<title>Foodgam | Мои подписки</title>{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">{% endblock %}

{% block content %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    {% if page %}
    <div class="card-list">
        {% for author in page %}
            <div class="card-user card-user" data-author="{{ author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ author.get_full_name }}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in author.recipes.all|dictsortreversed:"id"|slice:"0:3" %}
                        <li class="card-user__item">
                            <div class="recipe">
                                {% thumbnail recipe.photo "1000x1000" crop="center" as photo %}
                                <img src="{{ photo.url }}" alt="{{ recipe.title }}" class="recipe__image">
                                {% endthumbnail %}
                                <h3 class="recipe__title">{{ recipe.title }}</h3>
                                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                            </div>
                        </li>
                        {% endfor %}
                        {% if author.recipes.count > 3 %}
                        <li class="card-user__item">
                            <a href="{% url 'profile' author.username %}" class="card-user__link link">
                                {% with remaining=author.recipes.count|add:"-3" %}
                                    Еще {{ remaining }} {{ "рецепт"|decline:remaining }}...
                                {% endwith %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include "includes/custom_page.html" with message="Вы не подписаны ни на одного пользователя" %}
    {% endif %}
</main>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% if page.has_other_pages %}
    {% include "includes/paginator.html" with items=page paginator=paginator %}
{% endif %}
{% endblock %}
