{% extends "base.html" %}
{% load static %}
{% load tags_and_filters %}

{% block title %}Рецепты{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static "pages/index.css" %}">{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ author.get_full_name }}</h1>
            {% url "profile" username=author.username as the_url %}
            {% include "includes/tags.html" with tags=tags request=request the_url=the_url %}
    </div>
    {% if request.user.is_authenticated and request.user != author %}
    {% is_followed author.id request.user as followed %}
        {% if followed %}
            <div class="author-subscribe" data-author="{{ author.id }}">
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></p>
            </div>
        {% else %} 
            <div class="author-subscribe" data-author="{{ author.id }}">
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
            </div>
        {% endif %}   
    {% endif %}
    <div class="card-list" >
        {% for recipe in page %}
            {% include "recipe_card.html" with recipe=recipe %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %} 
        {% include "includes/paginator.html" with items=page paginator=paginator %} 
    {% endif %}
</main>
<script src="{% static "js/components/MainCards.js" %}"></script>
<script src="{% static "js/components/Purchases.js" %}"></script>
<script src="{% static "js/components/Favorites.js" %}"></script>
<script src="{% static "js/components/Subscribe.js" %}"></script>
<script src="{% static "js/config/config.js" %}"></script>
<script src="{% static "js/components/AuthorRecipe.js" %}"></script>
<script src="{% static "js/components/Header.js" %}"></script>
<script src="{% static "js/api/Api.js" %}"></script>
<script src="{% static "js/authorRecipe.js" %}"></script>
{% endblock %}
