{% load static %}
{% load tags_and_filters %}
{% load thumbnail %}

{% block content %}
<div class="card"  data-id="{{ recipe.id }}">
    <a href="{% url 'view_recipe' recipe.id %}" class="link" target="_blank">
        {% thumbnail recipe.photo "1000x1000" quality=100 upscale=True as photo %}
        <img src="{{ photo.url }}" alt="{{ recipe.title }}" class="card__image">
        {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'view_recipe' recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.colour }}">{{ tag.display_name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        {% is_purchased recipe.id request.user as purchased %}
            {% if purchased %}
                <button class="button button_style_light-blue" name="purchases"><span class="icon-plus button__icon"></span>Убрать из покупок</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
        {% is_favourite recipe.id request.user as star %}
            {% if star %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
